:root {
    --main-dark-blue: #0A3871;
    --main-light-blue: #F3F5FC; 
    --main-gray: #495057;
    --secondary-light-blue: #D8DFE8;
    --secondary-dark-blue: #072B61;
    --third-light-blue: #EFF1FA;
}

body {
    font-family: 'Inter', sans-serif;
    background: var(--main-light-blue);
}

.green {
    background-color: #50C878 !important;
    color: white !important;
    border: none !important;
}

.hide {
    display: none;
}

.alura-logo {
    margin-left: 2.5em;
}

.container {
    padding: 2.5em;
}

.container-flexbox {
    display: flex;
    justify-content: space-between;
}

.encryptor-container {
    margin: 6em 0 0 16em;
}

.error-message {
    color: red;
    margin-bottom: 12px;
}

.encryptor-box {
    background: var(--main-light-blue);
    font-size: 2em;
    font-family: 'Inter', sans-serif;
    color: var(--main-dark-blue);
    width: 577px;
    min-height: 700px;
    max-height: 700px;
    padding: 0;
    outline: none;
    border: none;
    resize: none;
}

.encryptor-box::placeholder {
    color: var(--main-dark-blue);
}

.encryptor-info {
    font-size: 12px;
    color: var(--main-gray);
    margin-bottom: 1em;
}

.info-icon {
    vertical-align: sub;
    margin-right: 6px;
}

.encryptor-buttons-container {
    display: flex;
}

.standard-button {
    width: 328px;
    height: 67px;
    border-radius: 24px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    transition: 0.5s;
    margin-right: 24px;
}

.dark {
    background-color: var(--main-dark-blue);
    color: white;
}

.dark:hover {
    background-color: var(--secondary-dark-blue);
}

.light {
    
    color: var(--main-dark-blue);
    border: 1px solid var(--main-dark-blue);
}

.light:hover {
    background-color: var(--secondary-light-blue);
}

.results-container {
    background-color: white;
    height: 942px;
    width: 400px;
    padding: 0 2em;
    border-radius: 2em;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.results-wrapper {    
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.results-default-container {
    text-align: center;
    width: 336px;
}

.default-title {
    font-weight: bold;
    font-size: 24px;
    color: #343A40;
    margin-top: 2em;
    margin-bottom: 1em;
}

.default-description {
    color: var(--main-gray);
}

.results-area {
    width: 336px;
}

.results-box {
    color: var(--main-gray);
    width: inherit;
    height: 781px;
    margin-bottom: 24px;
    font-size: 2em;
    font-family: 'Inter', sans-serif;
    resize: none;
    outline: none;
    border: none;
}

.copy-button {
    background-color: white;
}

.copy-button:hover {
    background-color: var(--secondary-light-blue);
}


/*Tablet*/
@media screen and (min-width: 426px) and (max-width: 1023px){
    
    header {
        margin-bottom: 120px;
    }

    .container-flexbox {
        justify-content: center;
        flex-direction: column;
    }

    .encryptor-container {
        margin: 0;
    }

    .encryptor-box {
        width: 100%;
    }

    .encryptor-buttons-container {
        justify-content: space-between;
    }

    .standard-button {
        margin: 0;
    }

    .character-container {
        display: none;
    }

    .results-container {
        height: auto;
        width: auto;
        padding: 2em;
        margin-top: 64px;
    }

    .results-wrapper {
        flex-direction: column;
    }

    .results-area {
        width: auto;
    }

    .default-results {
        width: 100%;
    }

    .default-title{
        margin-top: 0;
    }

    .results-default-container {
        width: 100%;
    }

    .results-box {
        width: 624px;
        height: 168px;
        max-height: 400px;
        font-size: 24px;
    }

    #copyBtn {
        width: 100%;
    }
}

/*Mobile*/
@media screen and (max-width: 425px) {
    
    header {
        margin-bottom: 81px;
    }

    .container {
        padding: 1em;
    }

    .container-flexbox {
        justify-content: center;
        flex-direction: column;
    }

    .encryptor-container {
        margin: 0;
    }

    .encryptor-box {
        width: 100%;
        min-height: 624px;
        margin-bottom: 64px;
    }

    .encryptor-buttons-container {
        justify-content: normal;
        flex-direction: column;
        width: 100%;
    }

    .standard-button {
        margin: 0;
        width: inherit;
    }

    #encryptBtn {
        margin-bottom: 24px;
    }

    .character-container {
        display: none;
    }

    .results-container {
        height: auto;
        width: auto;
        padding: 2em;
        margin-top: 64px;
    }

    .results-wrapper {
        flex-direction: column;
    }

    .results-area {
        width: 279px;
    }

    .default-results {
        width: inherit;
    }

    .default-title{
        margin-top: 0;
    }

    .results-default-container {
        width: 100%;
    }

    .results-box {
        width: inherit;
        height: 432px;
        max-height: 432px;
        font-size: 24px;
    }

    #copyBtn {
        width: 100%;
    }
}